body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Reset */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

main {
  flex-grow: 1;
}

.hidden {
  display: none;
}

/* COMMON*/

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*HEADER*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-link:hover {
  color: #404bbf;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.logo-studio {
  color: #2e2f42;
}

.list-nav {
  display: none;
}

.title-address {
  display: none;
}

.button-burger {
  margin-left: auto;
  border: none;
  background-color: transparent;
  padding: 0;
}

.burger-icons {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .button-burger {
    display: none;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .link-nav {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    text-decoration: none;
    display: block;
    padding: 24px 0;
    position: relative;

    /*Properties*/
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .link-nav:hover {
    color: #404bbf;
  }

  .link-nav:focus {
    color: #404bbf;
  }

  .link-nav.active {
    color: #404bbf;
  }

  .link-nav.active::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .link-address {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    font-style: normal;
    text-decoration: none;
    display: block;
    /*Properties*/
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-address:hover {
    color: #404bbf;
  }

  .link-address:active {
    color: #404bbf;
  }

  .link-address:focus {
    color: #404bbf;
  }

  .list-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .title-address {
    font-style: normal;
    margin-left: auto;
    display: block;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .link-address {
    font-size: 16px;
    line-height: 1.5;
  }

  .list-address {
    flex-direction: row;
    gap: 40px;
  }
}

/* MOBILE MENU */

.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 999;
}

.mobile-menu-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  height: 100%;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.mobile-menu-closed {
  border-radius: 50%;
  border: 1px solid #2e2f42;
  background-color: inherit;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.list-nav-mobile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.link-nav-mobile {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.link-nav-mobile.active,
.link-address-mobile.active {
  color: #404bbf;
}

.adress-mob-menu {
  margin-bottom: 48px;
}

.list-address-mobile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.link-address-mobile {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.svg-mobile-list {
  display: flex;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-backdrop {
    display: none;
  }
}

/* Section solutions */

.container-solutions {
  display: block;
  align-items: center;
}

.section-solutions {
  background-color: #2e2f42;
  padding: 72px 0 72px;
  max-width: 320px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url("../images/hero/Dark-mob@1x.jpg");
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .section-solutions {
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/hero/Dark-mob@2x.jpg");
  }
}

.section-solutions-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 216px;
  margin: 0 auto;
  text-align: center;
}

.button-order {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  margin: auto;
  margin-top: 72px;

  /*Properties*/
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .section-solutions {
    padding: 112px 0 112px;
    max-width: 768px;
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/hero/Dark-tab@1x.jpg");
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .section-solutions {
      background-image: linear-gradient(to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url("../images/hero/Dark-tab@2x.jpg");
    }
  }

  .section-solutions-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .button-order {
    margin-top: 36px;
  }

  .button-order:hover {
    background-color: #404bbf;
  }

  .button-order:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .section-solutions {
    padding: 188px 0 188px;
    max-width: 1440px;
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/hero/Dark-desk@1x.jpg");
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .section-solutions {
      background-image: linear-gradient(to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url("../images/hero/Dark-desk@2x.jpg");
    }
  }

  .button-order {
    margin-top: 48px;
  }
}

/*Section dooing*/

.section-doing {
  padding: 96px 0 96px;
}

.doing-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.icon-border {
  display: none;
}

.list-doing {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.section-doing-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-doing-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .list-doing {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }

  .section-doing-li {
    max-width: 356px;
  }

  .section-doing-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .section-doing {
    padding: 120px 0 120px;
  }

  .list-advantages {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .section-doing-li {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .icon-border {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 264px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .list-doing {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .section-doing-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
  }

  .section-doing-text {
    font-weight: 400;
  }
}

/*Section Team*/

.img-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}
.section-team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.sections-headers {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.item-team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  max-width: 264px;
}

.team-text-container {
  padding: 32px 0;
}

.team-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #ffffff;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #ffffff;
  color: #434455;
}

.team-icons-container {
  padding: 32px 0 32px;
}

.team-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;

  margin: 8px auto 0;
}

.link-adress {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 50%;
  padding: 12px;
  border: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-adress:hover {
  background-color: #404bbf;
}

.link-adress:focus {
  background-color: #404bbf;
}

.icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .img-list {
    gap: 64px 24px;
  }
}

@media screen and (min-width: 1158px) {
  
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .img-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .item-team {
    width: calc((100% - 72px) / 4);
  }
}

/*Section portfolio*/

.section-portfolio {
  padding: 96px 0;
}

.portfolio-container {
  align-items: center;
}

.portfolio-img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.section-portfolio-li {
  width: 100%;
  cursor: pointer;
  overflow: hidden;

  /*Properties*/
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.section-portfolio-li:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section-portfolio-li:hover .image-overlay {
  transform: translateY(0);
  opacity: 1;
}

.box {
  position: relative;
  overflow: hidden;
}

.image-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text-container {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .portfolio-img-list {
    align-items: center;
    justify-content: center;
    gap: 48px 24px;
  }

  .section-portfolio-li {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }

  .portfolio-img-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
  }

  .section-portfolio-li {
    width: calc((100% - 48px) / 3);
    cursor: pointer;
    overflow: hidden;
  }

  .section-portfolio-li:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
  }
}

/*Footer*/

.section-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: #404bbf;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-text-icons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-icons-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer-icon-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
}

.footer-icon {
  fill: #f4f4fd;
}

.text-subscribe {
  flex-direction: column;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.input-footer {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
}

.footer-button {
  cursor: pointer;
  margin-left: 24px;
  background-color: #4d5ae5;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  min-width: 165px;
  height: 40px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #31d0aa;
}

.footer-button:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #31d0aa;
}

.footer-icon-link:hover {
  background-color: #31d0aa;
}

.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-img-button {
  fill: #fff;
  margin-left: 16px;
}

@media (max-width: 767px) {
  .footer-div-webstudio {
    text-align: center;
    margin-bottom: 72px;
  }

  .footer-text-icons {
    text-align: center;
  }

  .text-subscribe {
    text-align: center;
  }

  .footer-icons-list {
    justify-content: center;
  }

  .footer-button {
    margin: 16px auto 0 auto;
  }

  .footer-link-icons {
    margin-bottom: 72px;
  }
}

@media (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .input-footer {
    width: 264px;
  }

  .form-email {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    max-width: 584px;
  }
}

@media (min-width: 1158px) {
  .section-footer {
    padding: 100 px 0;
  }

  .footer-container {
    flex-wrap: nowrap;
    gap: unset;
  }

  .footer-div-webstudio {
    margin-right: 120px;
  }

  .input-footer {
    width: 264px;
  }

  .form-footer {
    margin-left: 80px;
  }
}

/*Modal window*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 4px;
  width: 288px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}

.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  margin-bottom: 24px;
  margin-left: 360px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-close {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover {
  background-color: #404bbf;
  border: none;
}

.button-close:focus {
  background-color: #404bbf;
  border: none;
}

.button-close:hover .svg-close {
  fill: #fff;
}

.button-close:focus .svg-close {
  fill: #fff;
}

.text-modal {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 16px;
}

.form-row {
  margin-bottom: 8px;
}

.label-modal {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.div-input {
  position: relative;
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 40px;
  padding-left: 38px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.modal-input:focus+.input-svg {
  fill: #4d5ae5;
}

.input-svg {
  width: 18px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  margin-bottom: 16px;
}

.textarea {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.textarea:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}

.div-check-box {
  margin-bottom: 24px;
}

.span-svg-vector {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.svg-vector {
  fill: #f4f4fd;
}

.text-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.link-policy {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

input[type="checkbox"]:checked+.text-policy .span-svg-vector {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.btn-send-overlay {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin: 0 auto;
  border: none;
}

.btn-send-overlay:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

.btn-send-overlay:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

@media (min-width: 768px) {
  .modal-overlay {
    padding: 72px 24px 24px 24px;
    width: 408px;
  }
  .modal-input {
    width: 360px;
  }

  .textarea {
    width: 360px;
  }
}